/* Fonts */

/*
font-family: 'Roboto', sans-serif;

font-family: 'Tulpen One', cursive;
*/

/* HTML elements */

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Tulpen One', cursive;
  font-weight: 500;
  letter-spacing: 0.4rem;
  font-size: 7rem;
}

h2 {
  font-weight: bold;
}

h3 {
  font-family: 'Tulpen One', cursive;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: black;

}

h5 {
  font-weight: 600;
}
/* Containers */

.container-fluid {
  padding: 7% 18%;
}


p {
  margin: 0;
}

/* Navbar */

#navbar.container-fluid {
  background-color: rgba(255,255,255,0.4);
  padding: 0% 18% 0% 18%;
}

.navbar-light .navbar-brand {
  font-family: 'Tulpen One', cursive;
  /* color: rgba(0,0,0,.55); */
}

.navbar-brand:hover {
  color: black;
}

.navbar-icon:hover {
  color: black;
}


/* Title */

#title {
  background-image: linear-gradient(to left, rgba(255,255,255, 0.3), rgba(255,255,255, 0.4)), url("../images/sokovi-crop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: black;
  }

.badge {
  padding-left: 0;
  padding-right: 2%;
  color: rgba(0,0,0,.55);
}

.badge:hover {
    color: black;
}


/* Laki */

#Laki {
  background-color: #CCDCE6;
  background-image: linear-gradient(to right, rgba(255,255,255, 0.1), rgba(255,255,255, 0.6))
}

.laki-img {
  width: 90%;
  height: auto;
}

.laki-opis {
  width: 90%;
}


/* Dule */

#Dule {
  background-color: rgb(37, 150, 190, 0.3);
  background-image: linear-gradient(to left, rgba(255,255,255, 0.2), rgba(255,255,255, 0.6))
}

.dule-img {
  width: 90%;
  height: auto;
}

.dule-opis {
  width: 90%
}


/* Podrška */

#Podrska {
  background-color: #afbbc9;
}

#Podrska h2 {
  text-align: center;
  margin-bottom: 7%
}

.podrska-imgs {
  width: 90%;
  border-radius: 100%;
}

.podrska-opis {
  padding-top: 7%;
  padding-bottom: 7%;
}

#Podrska .col {
  padding: 0 4%;
}


/* Copyright footer */

#footer .container-fluid {
  padding: 2% 2% 2% 2%
}

#footer p {
  font-size: 0.6rem;
}

.copyight-link {
  color: black;
  text-decoration: none;
}

.copyight-link:hover {
  color: #afbbc9;
}

/* Moblie layout
--------------------------- */
@media screen and (max-width:575px) {
  #Dule .d-flex {
    order: 2;
  }

}
